<div>
  <%= pb_rails("card", props: { padding: "sm", highlight: {position: "side", color:variant}, }) do %>
    <%= pb_rails("flex", props: { justify: "between" }) do %>
      <%= pb_rails("caption", props: { size: 'xs' }) do %>
        <%= header %>
      <% end %>
      <%= pb_rails("badge", props: {
        text: tickets&.length || 0,
        variant: variant,
        rounded: true
      }) %>
    <% end %>
  <% end %>
  <%= pb_rails("section_separator") %>
  <% if tickets&.any? %>
    <% tickets.take(6).each do |ticket| %>
      <%= render partial: "shared/ticket_escalations_line_item", locals: { ticket: ticket } %>
    <% end %>
    <% if tickets.count > 6 %>

      <%= pb_rails("collapsible") do %>
        <%= pb_rails("collapsible/collapsible_content", props: { padding: "none", id:"collapsed-toggle" }) do %>
          <% tickets.drop(6).each do |ticket| %>
            <%= render partial: "shared/ticket_escalations_line_item", locals: { ticket: ticket } %>
          <% end %>
        <% end %>

        <%= pb_rails("collapsible/collapsible_main", props: { padding: "sm", name: "default-main", icon: ["square-caret-down", "square-caret-up"] }) do %>
          <%= pb_rails("button", props: { text: "Show More", variant:"link", padding: "none"}) %>
        <% end %>
        
      <% end %>
    <% end %>
  <% end %>
</div>