<%
  escalation_data = [
    { type: "new", title: "Missing part", user: { name: "Anna K", image: "https://randomuser.me/api/portraits/women/44.jpg" } },
    { type: "new", title: "Not performing", user: { name: "Mr K", image: "https://randomuser.me/api/portraits/men/44.jpg" } },
    { type: "new", title: "Missing part", user: { name: "Gary K", image: "" } },
    { type: "new", title: "Missing part", user: { name: "Anna K", image: "https://randomuser.me/api/portraits/women/44.jpg" } },
    { type: "new", title: "Not performing", user: { name: "Anna K", image: "https://randomuser.me/api/portraits/women/44.jpg" } },
    { type: "new", title: "Missing part", user: { name: "Anna K", image: "https://randomuser.me/api/portraits/women/44.jpg" } },
    { type: "new", title: "John Cena", user: { name: "Anna K", image: "https://randomuser.me/api/portraits/men/44.jpg" } },
    { type: "manager_feedback", title: "Add to Cart", user: { name: "Anna K", image: "https://randomuser.me/api/portraits/women/44.jpg" } },
    { type: "manager_feedback", title: "2", user: { name: "Anna K", image: "https://randomuser.me/api/portraits/women/44.jpg" } },
    { type: "manager_feedback", title: "2", user: { name: "Anna K", image: "https://randomuser.me/api/portraits/women/44.jpg" } },
    { type: "manager_feedback", title: "more 2's", user: { name: "Zorro Z", image: "" } },
    { type: "manager_feedback", title: "2", user: { name: "Anna K", image: "https://randomuser.me/api/portraits/women/44.jpg" } },
    { type: "processing", title: "Add to Cart", user: { name: "Anna K", image: "https://randomuser.me/api/portraits/women/44.jpg" } },
    { type: "processing", title: "Not performing", user: { name: "Mr K", image: "https://randomuser.me/api/portraits/men/44.jpg" } },
    { type: "awaiting_feedback", title: "Add to Cart", user: { name: "Anna K", image: "https://randomuser.me/api/portraits/women/44.jpg" } },
    { type: "approved", title: "Add to Cart", user: { name: "Anna K", image: "https://randomuser.me/api/portraits/women/44.jpg" } },
    { type: "approved", title: "Missing part", user: { name: "Anna K", image: "https://randomuser.me/api/portraits/women/44.jpg" } },
    { type: "approved", title: "Not performing", user: { name: "Mr K", image: "https://randomuser.me/api/portraits/men/44.jpg" } },
    { type: "approved", title: "Missing part", user: { name: "Gary K", image: "" } },
    { type: "approved", title: "Missing part", user: { name: "Anna K", image: "https://randomuser.me/api/portraits/women/44.jpg" } },
    { type: "approved", title: "Not performing", user: { name: "Anna K", image: "https://randomuser.me/api/portraits/women/44.jpg" } },
    { type: "approved", title: "John Cena Jr", user: { name: "Anna K", image: "https://randomuser.me/api/portraits/men/1.jpg" } },
    { type: "approved", title: "John Cena", user: { name: "Anna K", image: "https://randomuser.me/api/portraits/men/44.jpg" } },
  ]

  tickets_by_type = escalation_data.group_by { |ticket| ticket[:type] }

  new_tickets = tickets_by_type["new"]
  manager_feedback_tickets = tickets_by_type["manager_feedback"]
  processing_tickets = tickets_by_type["processing"]
  awaiting_feedback_tickets = tickets_by_type["awaiting_feedback"]
  approved_tickets = tickets_by_type["approved"]
%>


<%= pb_rails("flex", props: { justify_content: "center" }) do %>
  <%= pb_rails("caption", props: { text: "This Week's Ticket Escalations", color: "lighter", margin_bottom: "sm" }) %>
<% end %>

<div class="ticket-escalations">
  <%= render partial: "shared/ticket_escalations_type", locals: { header: 'New', variant: "success", tickets: new_tickets }  %>
  <%= render partial: "shared/ticket_escalations_type", locals: { header: 'Manager Feedback', variant: "primary", tickets: manager_feedback_tickets }  %>
  <%= render partial: "shared/ticket_escalations_type", locals: { header: 'Processing', variant: "warning", tickets: processing_tickets }  %>
  <%= render partial: "shared/ticket_escalations_type", locals: { header: 'Awaiting Feedback', variant: "error", tickets: awaiting_feedback_tickets }  %>
  <%= render partial: "shared/ticket_escalations_type", locals: { header: 'Approved', variant: "success", tickets: approved_tickets }  %>
</div>