<%= turbo_stream_from "tickets" %>

<%
  tickets_by_type = @tickets.group_by { |ticket| ticket[:ticket_type] }

  new_tickets = tickets_by_type["new"]
  manager_feedback_tickets = tickets_by_type["manager_feedback"]
  processing_tickets = tickets_by_type["processing"]
  awaiting_feedback_tickets = tickets_by_type["awaiting_feedback"]
  approved_tickets = tickets_by_type["approved"]
%>


<%= pb_rails("flex", props: { justify_content: "center" }) do %>
  <%= pb_rails("caption", props: { text: "This Week's Ticket Escalations", color: "lighter", margin_bottom: "sm" }) %>
<% end %>

<div class="ticket-escalations">
  <%= render partial: "shared/ticket_escalations_type", locals: { header: 'New', variant: "success", tickets: new_tickets }  %>
  <%= render partial: "shared/ticket_escalations_type", locals: { header: 'Manager Feedback', variant: "primary", tickets: manager_feedback_tickets }  %>
  <%= render partial: "shared/ticket_escalations_type", locals: { header: 'Processing', variant: "warning", tickets: processing_tickets }  %>
  <%= render partial: "shared/ticket_escalations_type", locals: { header: 'Awaiting Feedback', variant: "error", tickets: awaiting_feedback_tickets }  %>
  <%= render partial: "shared/ticket_escalations_type", locals: { header: 'Approved', variant: "success", tickets: approved_tickets }  %>
</div>